body #pixelfelt-dashboard {
  position: fixed !important;
  z-index: 99999999999999999999999999 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 30% !important;
  background: #fff !important;
  box-shadow: 0 0 10px 3px !important;
  border: none !important;
}