@import '../../../node_modules/spectre.css/dist/spectre.css';

html, body {
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body .monaco-editor .line-numbers {
  color: #A599E9
}

body .monaco-editor .margin-view-overlays {
  background: #28284e;
}

body #editor {
  width: 100% !important;
  height: 100%;
}
.overflowingContentWidgets {
  display: none;
}