@import '../../../node_modules/spectre.css/dist/spectre.css';

/* Helpers */
.full-height {height: 100%;}
.flex {display: flex}
.flex.column {flex-direction: column;}
.flex > * {flex: 1 auto}

/* Core */
html, body {
  height: 100%;
  background: #1e1e3f;
}

/* Editor */
body .monaco-editor .line-numbers {
  color: #A599E9
}

body .monaco-editor .margin-view-overlays {
  background: #28284e;
}

body #editor {
  width: 100% !important;
  height: 100%;
}

.overflowingContentWidgets {
  display: none;
}