body #pixelfelt-dashboard,
body #pixelfelt-dashboard-handle {
  position: fixed !important;
  z-index: 99999999999999999999999999 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 82px !important;
  background: #fff !important;
  box-shadow: 0 0 10px 3px !important;
  border: none !important;
}

body div#pixelfelt-dashboard-handle {
  height: 8px !important;
  bottom: calc(30%) !important;
  background: #ff628c !important;
  cursor: ns-resize !important;
  box-shadow: none !important;
}

body div#pixelfelt-dashboard-handle.pixelfelt-no-pointer-events {
  pointer-events: none !important;
}